[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "visPedigree"]
	path = visPedigree
	url = https://github.com/luansheng/vispedigree
